body {
  background: linear-gradient(68.15deg,  #f1dac6 16.62%, #ffffff 85.61%);
  margin: 0;  
}

.cabecalho-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(68.15deg, #E1AC8B 16.62%, #F8F1EB 85.61%);
    padding: 10px;
}

.logo-cabecalho {
    height: 62px;
}

.menu-cabecalho {
   display: flex;
   gap: 10px;
   
}

.item-menu {
    font-family: "DM Serif Text", sans-serif;
    color: #582d1c;
    font-weight: 700;
    font-size: 17px;
    display: flex;              
    align-items: center;         
    height: 40px;                
    padding: 10px; 
}

.botao-emergencia {
    background-color: #e23d3d;
    width: 120px;
    height: 40px;
    border: none;   
    border-radius: 20px;
     font-family: "DM Serif Text", sans-serif;
     font-weight: 700;
     font-size: 15px;
     color: #ffffff;

}  

.botao-menu {
    background-color: #E1AC8B;
    width: 170px;
    height: 40px;
    border: none;   
    border-radius: 20px;
     font-family: "DM Serif Text", sans-serif;
     font-weight: 700;
     font-size: 15px;
     color: #582d1c;
    
}


.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.center-text {
  text-align: center;
}

.header-section {
  background: linear-gradient(68.15deg, #E1AC8B 16.62%, #F8F1EB 85.61%);
  color: #582d1c;
  padding: 5rem 0;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Righteous", serif; 
}

.subtitle {
  color:#6a452c;
  font-size: 1.125rem;
  max-width: 768px;
  margin: 0 auto;
  font-family: "DM Serif Text", sans-serif;
}

.alert-section {
  background-color: #fef2f2;
  border-left: 4px solid #ef4444;
  padding: 1rem;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.icon-wrapper {
  margin-right: 1rem;
  margin: 2rem;
  
}

.icon-red {
  color: #dc2626;
}

.icon-blue {
  color: #2563eb;
}

.alert-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.5rem;
  font-family: "Righteous", serif; 
}

.alert-text {
  color: #374151;
  font-family: "DM Serif Text", sans-serif;
}

.content-section {
  padding: 3rem 0;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #331a11;
  margin-bottom: 2rem;
  font-family: "Righteous", serif; 
}

.card-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #F8F1EB;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.125rem;
  font-weight: 600;
  color:#331a11;
  font-family: "Righteous", serif; 

}

.card-text {
  color:#331a11;
  font-family: "DM Serif Text", sans-serif;

}

.support-card {
  background-color: #F8F1EB;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.support-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #582d1c;
  margin-bottom: 1rem;
  font-family: "Righteous", serif; 
  
}

.support-grid {
  display: flex;
  justify-content: space-between;
  font-family: "DM Serif Text", sans-serif; 
}
.support-grid2 {
  display: grid;
  font-family: "DM Serif Text", sans-serif;
  
}

@media (min-width: 768px) {
  .support-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.support-subtitle {
  font-weight: 500;
  color:  #582d1c;
  margin-bottom: 0.5rem;
}

.support-text {
  color: #6a452c;
  margin-bottom: 1.5rem;
  font-family: "DM Serif Text", sans-serif;
}

.bold {
  font-weight: 600;
}

.info-box {
  background-color: #F8F1EB;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
